<!DOCTYPE html>
<html>
  <head>
    <title>What You Can Do with Html5 and Css3 Today</title>
    <link type="text/css" rel="stylesheet" href="/scripts/style.css" />
    <script src="~/scripts/json2.js"></script>
    <script src="~/scripts/jquery-1.6.4.js"></script>
    <script src="~/scripts/jquery.signalR-1.1.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/scripts/comm.js"></script>
    <script src="~/scripts/modernizr-2.0.6.js"></script>
  </head>
    <body>

      <style>
        li {
          margin: 20px 0;
        }
      </style>
      
        <div id="tehNav">
            <input type="password" id="tehInput" />
            <button id="tehButton">Send Message</button>
            <button id="previous">previous</button>
            <button id="next">next</button>
        </div>

      <ol class="page-list">
      @foreach (string page in ViewBag.Pages)
      {
        <li>@page</li>
      }
      </ol>


    </body>
</html>
