@{
    ViewBag.Title = "Playground";
}

<style type="text/css">

  body {
    background-color: #000;
  }

  h1 {
    color: #FFF;
  }

</style>

<h1>Playground</h1>

<canvas style="border: solid 1px #222;" width="800" id="canvas">

</canvas>


<script>


</script>