@model IEnumerable<dynamic>
@{
    ViewBag.Title = "Index";
}

<p>These are your tasks to do.</p>

<ul id="taskList">
@foreach (var task in Model)
{
    @Html.Partial("TaskPartialView", new MyToDoListApp.Models.Task { TaskId = task.TaskId, Description = task.Description })
}
</ul>

<p class="clearFloat">&nbsp;</p>

<input type="button" id="addTaskStart" value="add task" />
<form style="display: none;" id="addTaskForm">
    <input type="text" id="description" />
    <input type="button" id="addTaskFinish" value="add" />
    <input type="button" id="addTaskCancel" value="cancel" />
</form>