body {
	background-color: #DDDDDD;
}

#page  {
	background-color: #FFFFFF;
	margin: 0 auto 0 auto; width: 960px;
}

#header {
	background-color: #c00000;
}

#header h1 {
	font-family: Georgia, Times New Roman, Serif;
	font-size: 2em;
	padding: 0 0 10px 0;
	text-shadow: 3px 3px 5px #FFFFFF;
}

#nav ul {
	background-color: #000000;
	font-family: Verdana, Sans-Serif;
	font-size: .9em;
	font-weight: bold;
	height: 30px;
	margin: 0;
	padding: 0 0 0 5px;
}

#nav ul li {
	float: left; 
	list-style-type: none; 
	margin: 5px 15px 0 0; 
	padding: 0;
}

#nav ul li a {
	color: #FFFFFF;
}

#mainContent {
	clear: both;
	padding: 10px;
}

h2 { clear: both; font-family: Georgia, Times New Roman, Serif; font-size: 1.4em; margin: 15px 0 5px 0; }

p { font-family: Verdana, Sans-Serif; font-size: .9em; line-height: 1.5em; }

.quoteThingies {
	margin: 15px 0 0 0;
}

.quoteThingies p {
	background-color: #EEEEEE;
	border: solid 2px black;
	border-radius: 10px;
	float: left;
	margin: 0 3px 5px;
	min-height: 120px;
	padding: 5px;
	width: 290px;
}

.source { color: rgba(255, 0, 0, .5); font-style: italic; }