<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <link type="text/css" href="/content/style.mobile.css" rel="stylesheet" />
  <script type="text/javascript" src="/content/script.mobile.js"></script>
</head>
<body>
  <div>
    @RenderBody()
  </div>
</body>
</html>
