@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wurfl</title>
</head>
<body>
    <div>
        <h1>Basic!</h1>
    </div>
</body>
</html>
