/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body
{
    background-color: #006327;
}

#page
{
    background-color: #FFF;
    border: solid 1px black;
    margin: 0 auto 0 auto;
    width: 800px;
}

header
{
    margin: 0 0 0 10px;
}

header h1
{
    font-family: Impact, Verdana, Sans-Serif;
    font-size: 5em;
}

header h2
{
    font-family: Georgia, Serif;
    font-size: 1em;
}

nav
{
    background-color: #000;
    height: 20px;
}

nav ul li
{
    float: left;
    margin: 0 0 0 10px;
}

nav ul li a
{
    color: #FFF;
    font-family: Verdana, Sans-Serif;
    font-size: .8em;
}

#sidebar
{
    clear: left;
    float: right;
    width: 280px;
}

#content
{
    float: left;
    margin: 10px;
    width: 500px;
}

#content h2
{
    font-family: Verdana, Sans-Serif;
    font-size: 1.2em;
    font-weight: bold;
}

#content p, #content blockquote
{
    font-family: Verdana, Sans-Serif;
    font-size: .9em;
    margin: 10px 0 10px 0;
    line-height: 1.4em;
}

#content blockquote
{
    background-color: #EEE;
    border: solid 1px #CCC;
    margin: 0 0 0 25px;
    padding: 7px;
}

footer
{
    background-color: #00491c;
    clear: both;
    color: #DDD;
}