<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Isometric</title>
</head>
<body>
    <div id="mainContent">

        <canvas width="700" height="500" id="theCanvas">
        </canvas>
        <canvas width="140" height="70" id="tileRenderer" style="visibility: visible;">
        </canvas>

        <div id="aDiv" ></div>

    </div>

    <img src="/content/isometric/skeleton.png" id="skeleton" style="visibility: hidden;" />

    <script type="text/javascript" src="/content/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/content/isometric/game-objects.js"></script>
    <script type="text/javascript" src="/content/isometric/isometric.js"></script>

    <!-- http://opengameart.org/content/skeleton-warrior-0 -->
</body>
</html>
