@import "./../_variables.scss";

.to-do-app {
    border: solid 1px #CCC;
    margin: 30px auto;
    width: 400px;

    .to-do-header {
        background-color: $primary-theme-color-medium;
        color: $offset-theme-color;
        font-family: $interface-font;
        text-align: right;
        padding: 5px;
    }

    .to-do-input input {
        margin: 15px auto;
        display: block;
        width: 80%;
    }

    .to-do-list {
        margin: 0;
        padding: 0;
    }

    .to-do-item {
        list-style-type: none;
        padding: 5px;
    }

    .to-do-item:nth-child(odd) {
        background-color: $primary-theme-color-light;
    }
}




