@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eric Sowell</h1>
<h2>Senior Architect, Match.com</h2>
<p>eric.sowell@gmail.com</p>
<p>@@mallioch</p>
<p>http://ericsowell.com</p>
<p>source code: https://github.com/Mallioch/Presentations</p>
