@{
    ViewBag.Title = "Home Page";
}

<h2>Calculator</h2>

<p>Welcome to my home page!</p>

<div class="calc">
    <input type="text" id="first" /> + <input type="text" id="second" /> = <span id="output"></span>

    <button id="add">Add</button>
</div>

<script type="text/javascript" src="~/Content/calc-ts.js"></script>
