h1 {
    font-family: helvetica, verdana, sans-serif;
}

ul {
    border: solid 1px #AAA;
    padding: 0;
    width: 80%;
}

ul li {
    background-color: #BBB;
    padding: 15px;
    list-style-type: none;
}

ul li:nth-child(odd) {
    background-color: #EEE;
}

form {
    border: solid 1px #000;
    padding: 10px;
}

form label {
    display: block;
    margin-top: 20px;
}

#add {
    display: block;
    margin-top: 20px;
}