@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Spine.js Sample</title>
    <link rel="stylesheet" type="text/css" href="/content/style.css" />
    <script src="/content/json2.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/content/underscore.js" type="text/javascript"></script>
    <script src="/content/Spine/spine.js" type="text/javascript"></script>
    <script src="/content/Spine/local.js" type="text/javascript"></script>
    <script src="/content/Spine/my_app.js" type="text/javascript"></script>



</head>
<body>
    <div id="page">

        <div class="card">
        </div>
        
    </div>
</body>
</html>
