

.case-studies .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.case-studies .gallery .item {
  flex-basis: 40%;
  margin-bottom: 20px;
}


@media screen and (max-width: 730px) {

  .case-studies .gallery .item {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}



.locations .container {
  display: flex;
}

.locations .location {
  flex-grow: 1;
}

@media screen and (max-width: 730px) {
  .locations .container {
    flex-direction: column;
  }
}
