@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Client-Side Mvc Frameworks</title>
    <link rel="stylesheet" type="text/css" href="/content/style.css" />
</head>
<body>
    <div id="page">
        <h1>Client-Side Mvc Frameworks</h1>
        <h2>and what they can do for you</h2>

        <p>This is the sample app for my January 5th presentation for DDNUG on Client-Size Mvc Frameworks. We won't be able to actually
        discuss them all, but at least they'll be able to see some sample code. Here are the samples:</p>

        <ul>
            <a href="/framework/backbone">Backbone</a>
            <a href="/framework/spine">Spine</a>
        </ul>
        
    </div>
</body>
</html>
