/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#pages
{
	max-width: 960px;
}

#pages section
{
    border: solid 1px; black;
    box-shadow: 5px 5px 5px rgba(100, 100, 100, .3);
    display: none;
    margin: 5px auto 0 auto;
    padding: 20px 10px;
    position: relative;
    width: 95%;
}

p, h1
{
	font-size: 3em;
    text-align: center;
}

p.small
{
    font-family: helvetica, verdana, sans-serif;
    font-size: 1.5em;
}

pre
{
    font-family: helvetica, verdana, sans-serif;
    font-size: 2em;
	max-width: 960px;
	overflow: auto;
}

h1
{
    font-family: helvetica, verdana, sans-serif;
    font-size: 3.5em;
    font-weight: bold;
    margin: 0 0 10px 0;
}

audio
{
    margin: 10px auto 0 auto;
}

strong
{
    font-style: italic;
    font-weight: bold;
}

.standardBox
{
    border: solid 1px #CCC;
    max-width: 100px;
    margin: 0 auto 0 auto;
    padding: 40px 10px 40px 10px;
    text-align: center;
}

#pages section
{
    min-height: 215px;
}

#tehNav button
{
    height: 40px;
    margin: 5px 0 10px 0;
    padding: 10px;
}

@media screen and (max-width: 320px) {
    p
    {
        font-size: 2em;
    }

    pre
    {
        font-family: helvetica, verdana, sans-serif;
        max-width: 310px;
        overflow: auto;
		font-size: 1.5em;
    }

    p.small
    {
        font-size: 1em;
    }

    h1
    {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 480px) {

    #pages section
    {
        height: 215px;
    }

    p
    {
        font-size: 1.8em;
    }

    pre
    {
        font-size: 1.8em;
        max-width: 470px;
        overflow: auto;
    }

    p.small
    {
        font-size: 1em;
    }

    h1
    {
        font-size: 2.5em;
    }
}



/* pages */

.icanhazwebsockets, .ihaznotwebsockets {
    display: none;
}

.websockets .icanhazwebsockets
{
    display: block;
}

.no-websockets .ihaznotwebsockets
{
    display: block;
}

