<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Look at Gulp</title>
    <link type="text/css" rel="stylesheet" href="~/content/all.css" />
    <link type="text/css" rel="stylesheet" href="~/content/main.css" />
</head>
<body>
    <h1>My Cool Home Page</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/home/todo">To-Do App</a></li>
        </ul>
    </nav>

    @RenderBody()
</body>
</html>
