@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Client-side Caching</title>
</head>
<body>
    <div>
        <h1>Let's talk about client-side caching</h1>

        <p>Here is a <a href="/perf/clientsidecaching">link to this same page</a>.</p>

        <img src="/content/awesome.jpg" />
    </div>
</body>
</html>
