@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Perf</title>
</head>
<body>
    <div>
        <h1>Perf Lessons</h1>

        <p>First...tools!</p>

        <ol>
            <li>Reduce the number of HTTP requests as much as possible</li>
            <li><a href="/perf/gzip">Gzip</a></li>
            <li><a href="/perf/minify">Always combine and minify CSS and JavaScript</a></li>
            <li><a href="/perf/clientsidecaching">Always cache client-side when possible</a></li>
            <li><a href="/perf/sprites">Use CSS Sprites</a></li>
        </ol>
    </div>
</body>
</html>
