@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Use Sprites</title>
</head>
<body>
    <div>
<div class="object1"></div>

<br />

<div class="object2"></div>

<style>
    body {
        background-color: #999;
    }

    .object1 {
        background-image: url('/content/sample-sprite.jpg');
        height: 50px;
        width: 50px;
    }

    .object2 {
        background-image: url('/content/sample-sprite.jpg');
        height: 50px;
        width: 50px;
        background-position-x: -50px;
    }
</style>
    </div>
</body>
</html>
