@{
    ViewBag.Title = "ContentPage";
}

<div id="post-1282" class="post-1282 post type-post status-publish format-standard hentry category-10-developement-practices category-featured category-proaction tag-book tag-mvp tag-tdd tag-unittest tag-wrox clearfix single-post">

    <h1 class="entry-title"><a href="http://developingux.com/2011/11/14/my-first-book-real-world-net-c-and-silverlight/" rel="bookmark">Get my first book&#8230; Real World .NET, C#, and Silverlight</a></h1><div class="entry-info"><div class="entry-author">By <address class="author vcard"><a class="url fn n" href="http://developingux.com/author/calebjenkins/" title="Caleb Jenkins">Caleb Jenkins</a></address></div> &ndash; <abbr class="published" title="2011-11-14T08:21:41+00:00">November 14, 2011</abbr><span class="entry-cat"><strong>Posted in: </strong><a href="http://developingux.com/topic/technology/10-developement-practices/">10 Developement Practices</a>, <a href="http://developingux.com/topic/featured/">Featured</a>, <a href="http://developingux.com/topic/career/proaction/">Proaction</a></span></div>        
    <div class="entry-content clearfix">
        <p><a href="http://developingux.com/wp-content/uploads/2011/11/image1.png"><img style="background-image: none; margin: 0px 0px 0px 10px; padding-left: 0px; padding-right: 0px; display: inline; float: right; padding-top: 0px; border-width: 0px;" title="image" src="http://developingux.com/wp-content/uploads/2011/11/image_thumb.png" alt="image" width="245" height="308" align="right" border="0" /></a>So.. this arrived in the mail today. It’s not really “my” book, since there were 15 authors, and I was just one of them. Still, this is the first time that I’ve worked on a book as an author, and it was a great experience! Different than being a technical editor, it was fun picking my own analogies and focus to talk about automated unit tests (chapter 15).</p>
        <p>I’m going to blog more about the process, how it compared to other work that I’ve done and what I’d like to do the future. For instance, I think I’d like to write a chapter (or more) for each of the <a href="http://developingux.com/topic/technology/10-developement-practices/">10 Practices</a> that I frequently <a href="http://developingux.com/topic/speaking/">talk about</a>.</p>
        <p>Special thanks for the team at Wrox, the editors, and all of the guys must have felt like they were herding cats to get all of our content together. I’m really enjoying reading this book cover to cover. It’s neat to see so many, truly real world, ideas and approaches in one place.</p>
        <p>Check our the world class MVP’s and RD’s that were involved in making this book:  <a href="http://geekswithblogs.net/evjen/">Bill Evjen</a>, <a href="http://www.leastprivilege.com/">Dominick Baier</a>, <a href="https://mvp.support.microsoft.com/profile=9078D8EB-811A-4DAA-86BF-948E7F2117D7">Gyorgy Balassy</a>, <a href="https://mvp.support.microsoft.com/profile=7CC3B10B-901F-4552-B314-AFF3FAF40D96">Gill Cleeren</a>, <a href="http://www.davidgiard.com/">David Giard</a>, <a href="http://blogs.microsoft.co.il/blogs/alex_golesh/">Alex Golesh</a>, <a href="http://geekswithblogs.net/kgrossnicklaus/">Kevin Grossnicklaus</a>, <a href="https://mvp.support.microsoft.com/profile=43C8A295-AAA1-4949-A0A6-1F9BB5A5110F">Jefferey Juday</a>, <a href="http://vlele.wordpress.com/">Vishwas Lele</a>, <a href="http://csharperimage.jeremylikness.com/">Jeremy Likeness</a>, <a href="http://www.mikesdotnetting.com/">Scott Millett</a>, <a href="http://www.cninnovation.com/">Christian Nagel</a>, <a href="http://www.thinktecture.com/staff/christian">Christian Weyer</a> and <a href="http://daron.yondem.com">Daron Yondem</a>.</p>
        <p>and if you look closely.. you can even see my name. <img class="wlEmoticon wlEmoticon-smile" style="border-style: none;" src="http://developingux.com/wp-content/uploads/2011/11/wlEmoticon-smile.png" alt="Smile" /></p>
        <p><a href="http://developingux.com/wp-content/uploads/2011/11/image2.png"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: inline; padding-top: 0px; border: 0px;" title="image" src="/content/image_thumb1.png" alt="image" width="319" height="122" border="0" /></a></p>
        <p>I’m honored to be included in a book with such great people!</p>
        <p><a href="http://developingux.com/wp-content/uploads/2011/11/WP_001760.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: inline; padding-top: 0px; border: 0px;" title="WP_001760" src="/content/WP_001760_thumb.jpg" alt="WP_001760" border="0" /></a> 
            <a href="http://developingux.com/wp-content/uploads/2011/11/WP_001762.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: inline; padding-top: 0px; border-width: 0px;" title="WP_001762" src="/content/WP_001762_thumb.jpg" alt="WP_001762" width="240" height="180" border="0" /></a> 
            <a href="http://developingux.com/wp-content/uploads/2011/11/WP_001765.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: inline; padding-top: 0px; border-width: 0px;" title="WP_001765" src="/content/WP_001765_thumb.jpg" alt="WP_001765" width="240" height="180" border="0" /></a> 
            <a href="http://www.amazon.com/Real-World-NET-Silverlight-ebook/dp/B0062ZNJIM/"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: inline; padding-top: 0px; border: 0px;" title="image" src="/content/image3.png" alt="image" width="143" height="180" border="0" /></a></p>
        <p>If you get the chance to <a href="http://www.amazon.com/Real-World-NET-Silverlight-ebook/dp/B0062ZNJIM/">read my chapter</a> (15) I’d love to get your feedback! Writing for a book is much harder than preparing a conference talk, writing training curriculum, blogging or any of the other related things that I’ve done. I know that some <span style="text-decoration: line-through;">freaks of nature</span> <a href="http://weblogs.asp.net/wallym/">incredible talented people</a> seem to crank out high quality books in their sleep, but it’s a skill that I’m still developing. I’d definitely like to get better and your feedback is always welcome!</p>
        <p>Buy it now on <a href="http://www.amazon.com/Real-World-NET-Silverlight-ebook/dp/B0062ZNJIM/">Amazon</a> (available in print and kindle) – and leave a comment!</p>
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdevelopingux.com%2F2011%2F11%2F14%2Fmy-first-book-real-world-net-c-and-silverlight%2F&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:450px;margin-top:5px;"></iframe>  
    </div>

	<div class="tags">
        <strong>Tags:</strong> <a href="http://developingux.com/tag/book/" rel="tag">book</a>, <a href="http://developingux.com/tag/mvp/" rel="tag">mvp</a>, <a href="http://developingux.com/tag/tdd/" rel="tag">tdd</a>, <a href="http://developingux.com/tag/unittest/" rel="tag">unittest</a>, <a href="http://developingux.com/tag/wrox/" rel="tag">wrox</a>
    </div>
        
	<div class="about-author clearfix">
		<a href="http://developingux.com/author/calebjenkins/"><img alt='' src='http://0.gravatar.com/avatar/2fb864e8ccee8daa7a75c25115b54dba?s=64&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D64&amp;r=G' class='avatar avatar-64 photo' height='64' width='64' /></a>
		<div class="author-meta">
			<h4>About Caleb Jenkins</h4>
			Caleb Jenkins is the founder and principal mentor for <a href="http://proactionmentors.com">Proaction Mentors</a>, a development and architecture mentoring group.
            He is probably best known for his work with Microsoft Corporation as a Developer Evangelist and as a technology expert and speaker for the International .NET Association. He currently works with Sabre Airline Solutions as an Agile Coach to mentor agile teams around the globe to be more awesome. He also works as a technical editor and author for Wrox Press and as the host, cameraman and editor for <a href="http://communitycast.wordpress.com">CommunityCast TV</a>.
            Caleb is well known for his engaging speaking style, depth of knowledge and creative energy. Caleb lives in the Dallas area where he continues to date his beautiful wife and busies himself playing Candy Land and Xbox 360 with their four incredible children. Occasionally he writes curriculum, speaks at conferences, and writes code for silly things like Twitter applications. Eventually he'll post some of the gazillion interviews that he's recorded on CommunityCast or blog at <a href="http://www.developingUX.com">www.developingUX.com</a>
            You can follow him on twitter (<a href="http://twitter.com/calebjenkins/">@@calebjenkins</a>) and if you're still reading this, then you could also <a href="http://developingux.com/feed/">subscribe to his blog RSS feed</a> or sign up to <a href="http://www.feedburner.com/fb/a/emailverifySubmit?feedId=1320550">receive updates by email</a>
		</div>
	</div>
</div>
    
<a name="comments"></a>
    
<div id="disqus_thread">
    <div id="dsq-content">
        <ul id="dsq-comments">
            <li class="comment even thread-even depth-1" id="dsq-comment-6463">
                <div id="dsq-comment-header-6463" class="dsq-comment-header">
                    <cite id="dsq-cite-6463">
                        http://www.facebook.com/josemanners <span id="dsq-author-user-6463">Jose Luis Manners</span>
                    </cite>
                </div>
                <div id="dsq-comment-body-6463" class="dsq-comment-body">
                    <div id="dsq-comment-message-6463" class="dsq-comment-message">
                        <p>congrats Caleb !</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
/* <![CDATA[ */
    var disqus_url = 'http://developingux.com/2011/11/14/my-first-book-real-world-net-c-and-silverlight/';
    var disqus_identifier = '1282 http://developingux.com/?p=1282';
    var disqus_container_id = 'disqus_thread';
    var disqus_domain = 'disqus.com';
    var disqus_shortname = 'developingux';
    var disqus_title = "Get my first book&#8230; Real World .NET, C#, and Silverlight";
    var disqus_config = function () {
    var config = this; // Access to the config object

    /*
        All currently supported events:
        * preData — fires just before we request for initial data
        * preInit - fires after we get initial data but before we load any dependencies
        * onInit  - fires when all dependencies are resolved but before dtpl template is rendered
        * afterRender - fires when template is rendered but before we show it
        * onReady - everything is done
        */

    config.callbacks.preData.push(function() {
        // clear out the container (its filled for SEO/legacy purposes)
        document.getElementById(disqus_container_id).innerHTML = '';
    });
            config.callbacks.onReady.push(function() {
        // sync comments in the background so we don't block the page
        DISQUS.request.get('?cf_action=sync_comments&post_id=1282');
    });
                };
    var facebookXdReceiverPath = 'http://developingux.com/wp-content/plugins/disqus-comment-system/xd_receiver.htm';
/* ]]> */
</script>

<script type="text/javascript">
/* <![CDATA[ */
    var DsqLocal = {
        'trackbacks': [
        ],
        'trackback_url': "http:\/\/developingux.com\/2011\/11\/14\/my-first-book-real-world-net-c-and-silverlight\/trackback\/"    };
/* ]]> */
</script>

<script type="text/javascript">
/* <![CDATA[ */
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.' + disqus_domain + '/embed.js?pname=wordpress&pver=2.70';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
/* ]]> */
</script>
	   
