@{
    ViewBag.Title = "Index";
}

<!-- Featured Slideshow -->
<div class="featured clearfix">
    <div id="controls">
        <a href="" class="prev">Prev</a>
        <a href="" class="next">Next</a>
    </div>
    <div id="featured-slideshow">
        <div class="featured-slideshow-inner">
            <a class="featured-article" href="/home/contentpage" rel="bookmark">
                <img width="640" height="166" src="/content/image2.png" class="attachment-featured-slideshow-thumb wp-post-image" alt="Do you do .NET? C#? Are you agile or trying to be? You should check out the AgilDotNET Conference in Dallas! This will be the 3rd year that my friends..." title="Agile .NET Conference in Dallas this month" />
            </a>
            <div class="featured-entry">
                <a class="entry-title" href="/home/contentpage" rel="bookmark">Agile .NET Conference in Dallas this month</a>
                <div class="entry-summary">
                    <p>Do you do .NET? C#? Are you agile or trying to be? You should check out the AgilDotNET Conference in Dallas! This will be the 3rd year that my friends over at Improving have put on these conferenc</p>
                </div>
                <div class="progress"></div>
            </div>
        </div>
        <div class="featured-slideshow-inner" style="display: none">
            <a class="featured-article" href="/home/contentpage" rel="bookmark">
            <img width="640" height="250" src="/content/WP_002185-640x250.jpg" class="attachment-featured-slideshow-thumb wp-post-image" alt="One of the largest challenges working with a global company are increasingly large number of dislocated teams that we interact with. Last year, one of my colleagues and I set..." title="Mobile Collaboration Room Under $250 with Wii Remote" />				</a>
            <div class="featured-entry">
                <a class="entry-title" href="/home/contentpage" rel="bookmark">Mobile Collaboration Room Under $250 with Wii Remote</a>
                <div class="entry-summary">
                    <p>One of the largest challenges working with a global company are increasingly large number of dislocated teams that we interact with.</p>
                    <p>Last year, one of my colleagues and I set out to help remove</p>
                </div>
                <div class="progress"></div>
            </div>
        </div>
        <div class="featured-slideshow-inner" style="display: none">
            <a class="featured-article" href="/home/contentpage" rel="bookmark">
            <img width="608" height="250" src="/content/new-year-608x250.jpg" class="attachment-featured-slideshow-thumb" alt="I’ve never been a fan of “New Years Resolutions”, maybe it’s because they seam to be so quickly abandoned.. maybe it’s because of the sound of permanence that they carry...." title="Developer Goals for 2012" />				</a>
            <div class="featured-entry">
                <a class="entry-title" href="/home/contentpage" rel="bookmark">Developer Goals for 2012</a>
                <div class="entry-summary">
                    <p>I’ve never been a fan of “New Years Resolutions”, maybe it’s because they seam to be so quickly abandoned.. maybe it’s because of the sound of permanence that they carry. A resolution, r</p>
                </div>
                <div class="progress"></div>
            </div>
        </div>
        <div class="featured-slideshow-inner" style="display: none">
            <a class="featured-article" href="/home/contentpage" rel="bookmark">
            <img width="640" height="250" src="/content/image4-640x250.png" class="attachment-featured-slideshow-thumb" alt="Here is a quick look at some of the conferences and events that I’m attending, or I’ve submitted for or am planning on submitting talks for this year…&#160; this could..." title="2012 looking busy already!" />				</a>
            <div class="featured-entry">
                <a class="entry-title" href="/home/contentpage" rel="bookmark">2012 looking busy already!</a>
                <div class="entry-summary">
                    <p>Here is a quick look at some of the conferences and events that I’m attending, or I’ve submitted for or am planning on submitting talks for this year…&#160; this could be a busy year!Attending</p>
                </div>
                <div class="progress"></div>
            </div>
        </div>
        <div class="featured-slideshow-inner" style="display: none">
            <a class="featured-article" href="/home/contentpage" rel="bookmark">
            <img width="640" height="130" src="/content/3-events-640x130.png" class="attachment-featured-slideshow-thumb wp-post-image" alt="From the official site Global Day of Coderetreat is a world-wide event celebrating passion and software craftsmanship. Over 2200 passionate software developers in 90 cities around the world will spend..." title="3 Dallas Events to go to Tomorrow." />				</a>
            <div class="featured-entry">
                <a class="entry-title" href="/home/contentpage" rel="bookmark">3 Dallas Events to go to Tomorrow.</a>
                <div class="entry-summary"><p>From the official site<br />
                    Global Day of Coderetreat is a world-wide event celebrating passion and software craftsmanship. Over 2200 passionate software developers in 90 cities around the world will </p>
                </div>
                <div class="progress"></div>
            </div>
        </div>
        <script type="text/javascript">
            // <![CDATA[
            var disqus_shortname = 'developingux';
            var disqus_domain = 'disqus.com';
            (function () {
                var nodes = document.getElementsByTagName('span');
                for (var i = 0, url; i < nodes.length; i++) {
                    if (nodes[i].className.indexOf('dsq-postid') != -1) {
                        nodes[i].parentNode.setAttribute('data-disqus-identifier', nodes[i].getAttribute('rel'));
                        url = nodes[i].parentNode.href.split('#', 1);
                        if (url.length == 1) { url = url[0]; }
                        else { url = url[1]; }
                        nodes[i].parentNode.href = url + '#disqus_thread';
                    }
                }
                var s = document.createElement('script'); s.async = true;
                s.type = 'text/javascript';
                s.src = 'http://' + disqus_domain + '/forums/' + disqus_shortname + '/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            } ());
            //]]>
        </script>
    </div>
</div>
    

<!-- Featured Articles #1 -->
<div id="index-featured1">
    <div class="home-title">10 Practices for Every Developer</div>
    <ul class="hfeed posts-default clearfix">
        <li class="post-1361 post type-post status-publish format-standard hentry category-10-developement-practices category-agile-2 tag-agile tag-collocation tag-dislocated tag-tools clearfix">
            <div class="entry-thumbnails"><a class="entry-thumbnails-link" href="/home/contentpage">
                <img width="195" height="110" src="/content/WP_002185-195x110.jpg" class="attachment-node-based-thumb wp-post-image" alt="One of the largest challenges working with a global company are increasingly large number of dislocated teams that we interact with. Last year, one of my colleagues and I set..." title="Mobile Collaboration Room Under $250 with Wii Remote" /><span class="entry-meta"><span class="entry-comments">1</span><abbr class="published" title="2012-01-20T23:23:18+00:00">January 20, 2012</abbr></span></a>
            </div>
            <h3 class="entry-title"><a href="/home/contentpage" rel="bookmark">Mobile Collaboration Room Under $250 with Wii Remote</a></h3>
            <div class="entry-summary">
                <p>One of the largest challenges working with a global company are increasingly large number of dislocated teams that we interact with.</p>
                <p>Last year, one of my colleagues and I set out to help remove</p>
            </div>
        </li>
        <li class="post-1282 post type-post status-publish format-standard hentry category-10-developement-practices category-featured category-proaction tag-book tag-mvp tag-tdd tag-unittest tag-wrox clearfix">
            <div class="entry-thumbnails"><a class="entry-thumbnails-link" href="/home/contentpage"><img width="195" height="110" src="/content/wrox-mvp-book-collage-195x110.jpg" class="attachment-node-based-thumb wp-post-image" alt="So.. this arrived in the mail today. It’s not really “my” book, since there were 15 authors, and I was just one of them. Still, this is the first time..." title="Get my first book&#8230; Real World .NET, C#, and Silverlight" /><span class="entry-meta"><span class="entry-comments">1</span><abbr class="published" title="2011-11-14T08:21:41+00:00">November 14, 2011</abbr></span></a></div><h3 class="entry-title"><a href="/home/contentpage" rel="bookmark">Get my first book&#8230; Real World .NET, C#, and Silverlight</a></h3>						<div class="entry-summary">
                <p>So.. this arrived in the mail today. It’s not really “my” book, since there were 15 authors, and I was just one of them. Still, this is the first time that I’ve worked on a book as an author, </p>
            </div>
        </li>
        <li class="post-1111 post type-post status-publish format-standard hentry category-10-developement-practices category-agile-2 category-design-and-ux category-leadership category-technology tag-agile tag-bigdesign tag-dallas tag-ux clearfix">
            <div class="entry-thumbnails"><a class="entry-thumbnails-link" href="/home/contentpage"><img width="195" height="77" src="/content/image.png" class="attachment-node-based-thumb" alt="Jared Spool published a great article yesterday titled “Essential UX Layers for Agile and Lean Design Teams”. Jared talks briefly about proliferation of agile approaches in software design and user..." title="UX + Agile" /><span class="entry-meta"><span class="entry-comments">0</span><abbr class="published" title="2011-05-12T10:36:05+00:00">May 12, 2011</abbr></span></a></div><h3 class="entry-title"><a href="/home/contentpage" rel="bookmark">UX + Agile</a></h3>						<div class="entry-summary">
                <p>Jared Spool published a great article yesterday titled “Essential UX Layers for Agile and Lean Design Teams”.</p>
                <p>Jared talks briefly about proliferation of agile approaches in software design </p>
            </div>
        </li>
        <li class="post-1073 post type-post status-publish format-standard hentry category-10-developement-practices category-events category-improving category-microsoft category-proaction category-speaking category-technology tag-agile tag-agiledotnet tag-houston tag-speaking clearfix">
            <div class="entry-thumbnails"><a class="entry-thumbnails-link" href="/home/contentpage"><img width="195" height="86" src="/content/image2.png" class="attachment-node-based-thumb" alt="Today, I had the awesome privilege of speaking at the Agile DotNet Conference in Houston (http://www.agiledotnet.com/) put on by Improving Enterprises and hosted by Microsoft. I got to kick off..." title="Speaking at the Agile .NET Conference Houston" /><span class="entry-meta"><span class="entry-comments">2</span><abbr class="published" title="2011-02-25T16:20:39+00:00">February 25, 2011</abbr></span></a></div><h3 class="entry-title"><a href="/home/contentpage" rel="bookmark">Speaking at the Agile .NET Conference Houston</a></h3>						<div class="entry-summary">
                <p>Today, I had the awesome privilege of speaking at the Agile DotNet Conference in Houston (http://www.agiledotnet.com/) put on by Improving Enterprises and hosted by Microsoft. I got to kick off the de</p>
            </div>
        </li>
        <li class="post-999 post type-post status-publish format-standard hentry category-10-developement-practices category-events category-leadership category-proaction category-speaking category-technology tag-dallas tag-di tag-speaking tag-techfest clearfix">
            <div class="entry-thumbnails"><a class="entry-thumbnails-link" href="/home/contentpage"><img width="195" height="100" src="/content/image.png" class="attachment-node-based-thumb" alt="On Friday I spoke at the 2010 Dallas Tech Fest. This is a great event and I look forward to it every year. This year, I spoke on the 10..." title="Learning in Public &#8211; what I learned from being heckled at the Dallas Tech Fest" /><span class="entry-meta"><span class="entry-comments">5</span><abbr class="published" title="2010-08-02T10:36:44+00:00">August 2, 2010</abbr></span></a></div><h3 class="entry-title"><a href="/home/contentpage" rel="bookmark">Learning in Public &#8211; what I learned from being heckled at the Dallas Tech Fest</a></h3>						<div class="entry-summary">
                <p> On Friday I spoke at the 2010 Dallas Tech Fest. This is a great event and I look forward to it every year. This year, I spoke on the 10 Practices that every developer needs to start right now (slides</p>
            </div>
        </li>
        <li class="post-969 post type-post status-publish format-standard hentry category-10-developement-practices category-technology tag-bdd tag-c tag-rhinomocks tag-tdd tag-unittest tag-vb clearfix">
            <div class="entry-thumbnails"><a class="entry-thumbnails-link" href="/home/contentpage"><img width="164" height="110" src="/content/rhino_.jpg" class="attachment-node-based-thumb" alt="This week I had the privilege of leading a custom workshop for a team of developers in Fort Worth, TX. One of the topics that we covered was Writing Testable..." title="Using RhinoMocks to Test Model View Presenter Events with Lambdas and VB / C#" /><span class="entry-meta"><span class="entry-comments">3</span><abbr class="published" title="2010-07-04T09:59:20+00:00">July 4, 2010</abbr></span></a></div><h3 class="entry-title"><a href="/home/contentpage" rel="bookmark">Using RhinoMocks to Test Model View Presenter Events with Lambdas and VB / C#</a></h3>						<div class="entry-summary">
                <p>This week I had the privilege of leading a custom workshop for a team of developers in Fort Worth, TX. One of the topics that we covered was Writing Testable Code; specifically, we looked at the Model</p>
            </div>
        </li>
        <li class="post-917 post type-post status-publish format-standard hentry category-10-developement-practices category-featured category-technology tag-10-practices tag-book tag-code tag-patterns tag-software-patterns clearfix">
            <div class="entry-thumbnails"><a class="entry-thumbnails-link" href="/home/contentpage"><img width="195" height="97" src="/content/image.png" class="attachment-node-based-thumb" alt="This post is the 6th in a series that started with the 10 practices that every developer needs to start right now The first time that someone taught me about Software Design..." title="Practice Software Patterns &#8211; Component Patterns" /><span class="entry-meta"><span class="entry-comments">2</span><abbr class="published" title="2010-03-10T17:46:39+00:00">March 10, 2010</abbr></span></a></div><h3 class="entry-title"><a href="/home/contentpage" rel="bookmark">Practice Software Patterns &#8211; Component Patterns</a></h3>						<div class="entry-summary">
                <p>This post is the 6th in a series that started with the 10 practices that every developer needs to start right now</p>
                <p> The first time that someone taught me about Software Design Patterns it went som</p>
            </div>
        </li>
        <li class="post-827 post type-post status-publish format-standard hentry category-10-developement-practices category-featured category-technology tag-net tag-developer-practices tag-secure-coding clearfix">
            <div class="entry-thumbnails"><a class="entry-thumbnails-link" href="/home/contentpage"><img width="195" height="90" src="/content/image10.png" class="attachment-node-based-thumb" alt="This post is the 5th in a series that started with the 10 practices that every developer needs to start right now When writing software, we often don’t think about..." title="Secure Coding 101" /><span class="entry-meta"><span class="entry-comments">3</span><abbr class="published" title="2010-02-10T00:21:27+00:00">February 10, 2010</abbr></span></a></div><h3 class="entry-title"><a href="/home/contentpage" rel="bookmark">Secure Coding 101</a></h3>						<div class="entry-summary">
                This post is the 5th in a series that started with the 10 practices that every developer needs to start right now  When writing software, we often don’t think about the security implications of our 			</div>
        </li>
        <li class="post-809 post type-post status-publish format-standard hentry category-10-developement-practices category-featured category-microsoft category-technology tag-net tag-book tag-dependencyinjection tag-developer-practices tag-di tag-ioc tag-solid clearfix">
            <div class="entry-thumbnails"><a class="entry-thumbnails-link" href="/home/contentpage"><img width="137" height="110" src="/content/solid_thumb.jpg" class="attachment-node-based-thumb" alt="This post is a part of a series that I started with &quot;10 Practices that Every Developer Needs to Start Right Now&quot;. Update: This post was picked up by DZone,..." title="SOLID: Software that works." /><span class="entry-meta"><span class="entry-comments">10</span><abbr class="published" title="2010-02-09T00:06:04+00:00">February 9, 2010</abbr></span></a></div><h3 class="entry-title"><a href="/home/contentpage" rel="bookmark">SOLID: Software that works.</a></h3>						<div class="entry-summary">
                This post is a part of a series that I started with "10 Practices that Every Developer Needs to Start Right Now". Update: This post was picked up by DZone, go vote it up!  Ok, before you dig in to the			
            </div>
        </li>
        <li class="post-757 post type-post status-publish format-standard hentry category-10-developement-practices category-microsoft category-technology tag-book tag-developer-practices tag-learn tag-oo clearfix">
            <div class="entry-thumbnails"><a class="entry-thumbnails-link" href="/home/contentpage"><img width="195" height="77" src="/content/image1.png" class="attachment-node-based-thumb" alt="I’m starting off this series talking about Object Oriented Programming. It’s amazing how many people write C# or VB (.NET) with long, procedural methods with really no understanding of the..." title="Practices: Object Oriented Development" /><span class="entry-meta"><span class="entry-comments">11</span><abbr class="published" title="2010-01-17T23:48:28+00:00">January 17, 2010</abbr></span></a></div><h3 class="entry-title"><a href="/home/contentpage" rel="bookmark">Practices: Object Oriented Development</a></h3>						<div class="entry-summary">
                I’m starting off this series talking about Object Oriented Programming. It’s amazing how many people write C# or VB (.NET) with long, procedural methods with really no understanding of the true f			
            </div>
        </li>
        <li class="post-747 post type-post status-publish format-standard hentry category-10-developement-practices category-featured category-microsoft category-technology tag-book tag-developer-practices clearfix">
            <div class="entry-thumbnails"><a class="entry-thumbnails-link" href="/home/contentpage"><img width="195" height="78" src="/content/lights_ws.png" class="attachment-node-based-thumb" alt="If you are going to read through my “10 practices that every developer should start right now” series, then you probably want to know where these 10 practices came from,..." title="Introduction &#8211; 10 Development Practices" /><span class="entry-meta"><span class="entry-comments">3</span><abbr class="published" title="2010-01-16T11:02:36+00:00">January 16, 2010</abbr></span></a></div><h3 class="entry-title"><a href="/home/contentpage" rel="bookmark">Introduction &#8211; 10 Development Practices</a></h3>						<div class="entry-summary">
                If you are going to read through my “10 practices that every developer should start right now” series, then you probably want to know where these 10 practices came from, why I chose these 10 – 			
            </div>
        </li>
        <li class="post-732 post type-post status-publish format-standard hentry category-10-developement-practices category-microsoft category-technology tag-net tag-book tag-developer-practices tag-ninja clearfix">
            <div class="entry-thumbnails"><a class="entry-thumbnails-link" href="/home/contentpage"><img width="82" height="110" src="/content/NinjaBook.jpg" class="attachment-node-based-thumb" alt="Update: Since technically a DI Container could be considered part of SOLID, I&#039;ve swapped it out for Secure Coding... more on this soon! If I ever right a book on..." title="10 practices that every developer needs to start right now" /><span class="entry-meta"><span class="entry-comments">15</span><abbr class="published" title="2010-01-06T01:55:54+00:00">January 6, 2010</abbr></span></a></div><h3 class="entry-title"><a href="/home/contentpage" rel="bookmark">10 practices that every developer needs to start right now</a></h3>						<div class="entry-summary">
                Update: Since technically a DI Container could be considered part of SOLID, I've swapped it out for Secure Coding... more on this soon! If I ever right a book on becoming a .NET Ninja, these are the t			
            </div>
        </li>
    </ul><!-- .posts-default -->
</div><!-- #index-featured1 -->

<!-- Featured Articles #2 -->
<div id="index-featured2">
    <div class="home-title">Featured</div>
    <ul class="hfeed posts-quick clearfix">
        <li class="post-1291 post type-post status-publish format-standard hentry category-agile-2 category-featured category-proaction category-speaking tag-agile tag-bigdesign tag-scrum tag-slides tag-ux clearfix">
            <div class="entry-thumbnails">
                <a class="entry-thumbnails-link" href="/home/contentpage"><img width="115" height="115" src="/content/scrum-115x115.jpg" class="attachment-quick-preview-thumb wp-post-image" alt="Last week I presented at the Big Design Week in Dallas. I finally posted the slides from my talk. Scaling Scrum with UX View more presentations from Caleb Jenkins Enjoy!" title="Scaling Scrum with UX" /></a>
            </div>
            <h3 class="entry-title"><a href="/home/contentpage" rel="bookmark">Scaling Scrum with UX</a></h3>
            <div class="entry-summary">
                <div class="entry-info">
                    <abbr class="published" title="2011-11-24T00:05:06+00:00">Posted on November 24, 2011</abbr> | <span><span class="dsq-postid" rel="1291 http://developingux.com/?p=1291">No Comments</span></span>
                </div>
                Last week I presented at the Big Design Week in Dallas. I finally posted the slides from my talk. Scaling Scrum with UX View more presentations from Caleb Jenkins Enjoy!				
                <p class="quick-read-more">
                    <a href="/home/contentpage" title="Permalink to Scaling Scrum with UX">Continue Reading...</a>
                </p>
            </div>	
        </li>
        <li class="post-1282 post type-post status-publish format-standard hentry category-10-developement-practices category-featured category-proaction tag-book tag-mvp tag-tdd tag-unittest tag-wrox clearfix">
            <div class="entry-thumbnails">
                <a class="entry-thumbnails-link" href="/home/contentpage"><img width="115" height="115" src="/content/wrox-mvp-book-collage-115x115.jpg" class="attachment-quick-preview-thumb wp-post-image" alt="So.. this arrived in the mail today. It’s not really “my” book, since there were 15 authors, and I was just one of them. Still, this is the first time..." title="Get my first book&#8230; Real World .NET, C#, and Silverlight" /></a>
            </div>
            <h3 class="entry-title"><a href="/home/contentpage" rel="bookmark">Get my first book&#8230; Real World .NET, C#, and Silverlight</a></h3>
            <div class="entry-summary">
                <div class="entry-info">
                    <abbr class="published" title="2011-11-14T08:21:41+00:00">Posted on November 14, 2011</abbr> | <span><span class="dsq-postid" rel="1282 http://developingux.com/?p=1282">1 Comment</span></span>
                </div>
                So.. this arrived in the mail today. It’s not really “my” book, since there were 15 authors, and I was just one of them. Still, this is the first time...				
                <p class="quick-read-more">
                    <a href="/home/contentpage" title="Permalink to Get my first book&#8230; Real World .NET, C#, and Silverlight">Continue Reading...</a>
                </p>
            </div>	
        </li>
        <li class="post-1237 post type-post status-publish format-standard hentry category-family category-featured category-video tag-dallas tag-fun tag-skydive tag-video clearfix">
            <div class="entry-thumbnails"><a class="entry-thumbnails-link" href="/home/contentpage"><img width="115" height="115" src="/content/main-jump-2-115x115.jpg" class="attachment-quick-preview-thumb wp-post-image" alt="My first tandem jump– 60 seconds of free fall from 13,500 ft at 120 mph–it was awesome I’ve always wondered what it would be like to jump out of an..." title="Dropping 8,000 ft in 60 seconds&#8230; 120 mph with a parachute" /></a></div><h3 class="entry-title"><a href="http://developingux.com/2011/09/06/dropping-8000-ft-in-60-seconds-120-mph-with-a-parachute/" rel="bookmark">Dropping 8,000 ft in 60 seconds&#8230; 120 mph with a parachute</a></h3>			<div class="entry-summary">
                <div class="entry-info">
                    <abbr class="published" title="2011-09-06T22:49:15+00:00">Posted on September 6, 2011</abbr> | <span><span class="dsq-postid" rel="1237 http://developingux.com/2011/09/06/dropping-8000-ft-in-60-seconds-120-mph-with-a-parachute/">No Comments</span></span>
                </div>
                My first tandem jump– 60 seconds of free fall from 13,500 ft at 120 mph–it was awesome I’ve always wondered what it would be like to jump out of an...
                <p class="quick-read-more">
                    <a href="/home/contentpage" title="Permalink to Dropping 8,000 ft in 60 seconds&#8230; 120 mph with a parachute">Continue Reading...</a>
                </p>
            </div>	
        </li>
        <li class="post-1215 post type-post status-publish format-standard hentry category-agile-2 category-featured category-ineta category-leadership tag-community tag-ineta tag-leadership clearfix">
            <div class="entry-thumbnails"><a class="entry-thumbnails-link" href="/home/contentpage"><img width="115" height="115" src="/content/calejenkins-tulsatechfest2007-115x115.jpg" class="attachment-quick-preview-thumb wp-post-image" alt="Last week I was discussing with a couple of my partners in crime about our ideas for building communities within our organization. I mentioned the 3 fundamentals that I developed..." title="3 Fundamentals for Building Community" /></a></div><h3 class="entry-title"><a href="http://developingux.com/2011/08/11/fundamentals-building-community/" rel="bookmark">3 Fundamentals for Building Community</a></h3>			<div class="entry-summary">
                <div class="entry-info">
                    <abbr class="published" title="2011-08-11T16:21:34+00:00">Posted on August 11, 2011</abbr> | <span><span class="dsq-postid" rel="1215 http://developingux.com/?p=1215">1 Comment</span></span>
                </div>
                Last week I was discussing with a couple of my partners in crime about our ideas for building communities within our organization. I mentioned the 3 fundamentals that I developed...
                <p class="quick-read-more">
                    <a href="/home/contentpage" title="Permalink to 3 Fundamentals for Building Community">Continue Reading...</a>
                </p>
            </div>	
        </li>
        <li class="post-1208 post type-post status-publish format-standard hentry category-agile-2 category-featured tag-agile tag-agile2011 tag-dislocated tag-scrum tag-teams clearfix">
            <div class="entry-thumbnails"><a class="entry-thumbnails-link" href="/home/contentpage"><img width="115" height="115" src="/content/image-115x115.png" class="attachment-quick-preview-thumb wp-post-image" alt="This week I am attending the 2011 Agile Alliance Conference in Salt Lake City, and so this seemed like a good opportunity to share my new word with you. I’m..." title="a new word: Dislocated" /></a></div><h3 class="entry-title"><a href="http://developingux.com/2011/08/11/dislocated/" rel="bookmark">a new word: Dislocated</a></h3>			<div class="entry-summary">
                <div class="entry-info">
                    <abbr class="published" title="2011-08-11T15:57:48+00:00">Posted on August 11, 2011</abbr> | <span><span class="dsq-postid" rel="1208 http://developingux.com/?p=1208">4 Comments</span></span>
                </div>
                This week I am attending the 2011 Agile Alliance Conference in Salt Lake City, and so this seemed like a good opportunity to share my new word with you. I’m...				
                <p class="quick-read-more">
                    <a href="/home/contentpage" title="Permalink to a new word: Dislocated">Continue Reading...</a>
                </p>
            </div>	
        </li>
    </ul><!-- .posts-quick -->
</div><!-- #index-featured2 -->

<!-- News Articles -->
<div id="index-news">
    <div class="home-title">Latest Headlines</div>
    <ul class="hfeed posts-line clearfix">
        <li class="post-1374 post type-post status-publish format-standard hentry category-agile-2 category-speaking tag-agile tag-dallas tag-scrum clearfix">
            <span class="entry-cat">Agile</span>
            
            <h3 class="entry-title"><a rel="bookmark" href="http://developingux.com/2012/01/31/agile-net-conference-dallas/" title="Permalink to Agile .NET Conference in Dallas this month">Agile .NET Conference in Dallas this month</a></h3>
            <span class="entry-comments"><span class="dsq-postid" rel="1374 http://developingux.com/?p=1374">1 Comment</span></span>
        </li>
        <li class="post-1361 post type-post status-publish format-standard hentry category-10-developement-practices category-agile-2 tag-agile tag-collocation tag-dislocated tag-tools clearfix">
            <span class="entry-cat">10 Developement Practices</span>
            
            <h3 class="entry-title"><a rel="bookmark" href="http://developingux.com/2012/01/20/mobile-collaboration-room-with-wii/" title="Permalink to Mobile Collaboration Room Under $250 with Wii Remote">Mobile Collaboration Room Under $250 with Wii Remote</a></h3>
            <span class="entry-comments"><span class="dsq-postid" rel="1361 http://developingux.com/?p=1361">1 Comment</span></span>
        </li>
        <li class="post-1344 post type-post status-publish format-standard hentry category-agile-2 category-leadership category-technology tag-2012 tag-agile tag-craftsmanship tag-goals clearfix">
            <span class="entry-cat">Agile</span>
            
            <h3 class="entry-title"><a rel="bookmark" href="http://developingux.com/2012/01/01/developer-goals/" title="Permalink to Developer Goals for 2012">Developer Goals for 2012</a></h3>
            <span class="entry-comments"><span class="dsq-postid" rel="1344 http://developingux.com/?p=1344">No Comments</span></span>
        </li>
        <li class="post-1316 post type-post status-publish format-standard hentry category-agile-2 category-events category-speaking category-technology tag-2012 tag-dallas tag-dfw tag-speaking clearfix">
            <span class="entry-cat">Agile</span>
            
            <h3 class="entry-title"><a rel="bookmark" href="http://developingux.com/2011/12/29/2012-looking-busy-already/" title="Permalink to 2012 looking busy already!">2012 looking busy already!</a></h3>
            <span class="entry-comments"><span class="dsq-postid" rel="1316 http://developingux.com/?p=1316">No Comments</span></span>
        </li>
        <li class="post-1299 post type-post status-publish format-standard hentry category-events category-leadership category-technology tag-code-craftsmanship tag-dallas tag-mvc tag-ted clearfix">
            <span class="entry-cat">Events</span>
            
            <h3 class="entry-title"><a rel="bookmark" href="http://developingux.com/2011/12/02/3-dallas-events-to-go-to/" title="Permalink to 3 Dallas Events to go to Tomorrow.">3 Dallas Events to go to Tomorrow.</a></h3>
            <span class="entry-comments"><span class="dsq-postid" rel="1299 http://developingux.com/?p=1299">No Comments</span></span>
        </li>
        <li class="post-1291 post type-post status-publish format-standard hentry category-agile-2 category-featured category-proaction category-speaking tag-agile tag-bigdesign tag-scrum tag-slides tag-ux clearfix">
            <span class="entry-cat">Agile</span>
            
            <h3 class="entry-title"><a rel="bookmark" href="http://developingux.com/2011/11/24/scaling-scrum-with-ux/" title="Permalink to Scaling Scrum with UX">Scaling Scrum with UX</a></h3>
            <span class="entry-comments"><span class="dsq-postid" rel="1291 http://developingux.com/?p=1291">No Comments</span></span>
        </li>
        <li class="post-1282 post type-post status-publish format-standard hentry category-10-developement-practices category-featured category-proaction tag-book tag-mvp tag-tdd tag-unittest tag-wrox clearfix">
            <span class="entry-cat">10 Developement Practices</span>
            
            <h3 class="entry-title"><a rel="bookmark" href="http://developingux.com/2011/11/14/my-first-book-real-world-net-c-and-silverlight/" title="Permalink to Get my first book&#8230; Real World .NET, C#, and Silverlight">Get my first book&#8230; Real World .NET, C#, and Silverlight</a></h3>
            <span class="entry-comments"><span class="dsq-postid" rel="1282 http://developingux.com/?p=1282">1 Comment</span></span>
        </li>
        <li class="post-1267 post type-post status-publish format-standard hentry category-agile-2 category-design-and-ux category-proaction category-speaking tag-agile tag-bigdesign tag-dallas tag-scrum tag-ux clearfix">
            <span class="entry-cat">Agile</span>
            
            <h3 class="entry-title"><a rel="bookmark" href="http://developingux.com/2011/11/12/workshop-agile-ux/" title="Permalink to Workshop Agile + UX">Workshop Agile + UX</a></h3>
            <span class="entry-comments"><span class="dsq-postid" rel="1267 http://developingux.com/?p=1267">No Comments</span></span>
        </li>
        <li class="post-1261 post type-post status-publish format-standard hentry category-events tag-community tag-techfest tag-tulsa tag-windowsphone clearfix">
            <span class="entry-cat">Events</span>
            
            <h3 class="entry-title"><a rel="bookmark" href="http://developingux.com/2011/09/25/tulsa-tech-fest-october-7th-top-3-reasons-you-should-go/" title="Permalink to Tulsa Tech Fest &#8211; October 7th &#8211; Top 3 reasons you should go!">Tulsa Tech Fest &#8211; October 7th &#8211; Top 3 reasons you should go!</a></h3>
            <span class="entry-comments"><span class="dsq-postid" rel="1261 http://developingux.com/?p=1261">1 Comment</span></span>
        </li>
        <li class="post-1245 post type-post status-publish format-standard hentry category-family category-spiritual category-video tag-15for50 tag-hope tag-india clearfix">
            <span class="entry-cat">Family</span>
            
            <h3 class="entry-title"><a rel="bookmark" href="http://developingux.com/2011/09/07/build-an-orphanage/" title="Permalink to To build an orphanage">To build an orphanage</a></h3>
            <span class="entry-comments"><span class="dsq-postid" rel="1245 http://developingux.com/?p=1245">1 Comment</span></span>
        </li>
    </ul><!-- .posts-line -->
    <div class="navigation clearfix">
        <div class="floatleft"><a href="http://developingux.com/page/2/" >Older Entries</a></div>
        <div class="floatright"></div>
    </div>
</div><!-- #index-news -->


<div id="bottom-content-1">
    <ul class="clearfix xoxo">
        <li></li>
    </ul>
</div>

<div id="bottom-content-2">
    <ul class="clearfix xoxo">
        <li></li>
    </ul>
</div>


